<template name="cv_experience">
    <!-- cv_experience -->
    <div class="cv_experience">
        <div class="section section-work">
            <h2 class="title">Work experience</h2>
            <div class="set">
                <div class="item">
                    <h3><span class="company l">CDG Group</span>
                        <span class="date r">Jul 2017 &mdash; present</span>
                    </h3>
                    <div class="clear"> </div>
                    <span class="job_title">Senior software developer</span>
                    <div class="info">
                        Develop next generation of platform services of the SpecSavers digital architecture using spring-cloud microservices<br/>
                        Implement high availability and scalable solutions for the deployment of the platform in the AWS cloud<br/>
                        Design microservices messaging solution<br/>
                        Enhance ELK stack for ntelligent alerting<br/>
                        Contribute to devops tasks by automating deployments with <i>HashiCorp</i> products (Nomad, Consul, Terraform, Vagrant)<br/>
                        Contribute to <a href="https://github.com/Yelp/elastalert">elastalert</a>, an opensource project to create notifications based on queries to the ELK stack
                    </div>
                    <div class="technologies">
                        {{>chip text="Java8"}}
                        {{>chip text="Python"}}
                        {{>chip text="bash"}}
                        {{>chip text="Spring cloud"}}
                        {{>chip text="Java messaging"}}
                        {{>chip text="Kafka"}}
                        {{>chip text="Elasticsearch"}}
                        {{>chip text="ELK stack"}}
                        {{>chip text="nomad"}}
                        {{>chip text="AWS"}}
                    </div>
                    <div class="clear"> </div>
                </div>
                
                <div class="item">
                    <h3><span class="company l">Tesco</span>
                        <span class="date r">Dec 2015 &mdash; Mar 2017</span>
                    </h3>
                    <div class="clear"> </div>
                    <span class="job_title">Software developer and prototypist</span>
                    <div class="info">
                        Create pixel perfect function prototype with Meteor JS for new generation of tesco.com websitesa Used Meteor with Spacebars (Handlebars) and SASS.<br/>
                        Developed a CMS type of web application to publish principles based on node.js and meteor.<br/>
                        Contributed in building a React  and SASS (using BEM) component library to re-usable components within the organisation<br />
                        Configured continous integration and deployment systems with Jenkins and integration with GitHUB enterprise<br/>
                        Provided ops support for the team, configured NGinx, Apache, database servers, docker instances, RoR installations<br/>
                        Provided development and operation support for internal publishing sites<br />
                        Managed the team technical infrastructure (AWS) and provide consultancy on web technologies
                        Implemented security policies for Infosec compliance <br/>
                    </div>
                    <div class="technologies">
                        {{>chip text="meteor.js"}}
                        {{>chip text="react.js"}}
                        {{>chip text="SASS"}}
                        {{>chip text="ES6"}}
                        {{>chip text="PHP"}}
                        {{>chip text="GitHUB"}}
                        {{>chip text="AWS"}}
                        {{>chip text="Wordpress"}}
                    </div>
                    <div class="clear"> </div>
                </div>
                
                <div class="item">
                    <h3><span class="company l">Mobile worker plus</span>
                        <span class="date r">October 2013 &mdash; October 2015</span>
                    </h3>
                    <div class="clear"> </div>
                    <span class="job_title">Technical director</span>
                    <div class="info">
                        Designed and developed MWP product suite for remote workforce management<br />
                        Authored a geolocation data source as a JAX-RS/JAXB web service.
                        Designed and developed several car park booking portals with complex workflows<br />
                        Designed and implemented devops infrastrucure<br />
                        Produced release and build processes<br />
                        Provided training and mentoring for the developers and engineers in the organization
                    </div>
                    <div class="technologies">
                        {{>chip text="PHP"}}
                        {{>chip text="Drupal"}}
                        {{>chip text="Symfony"}}
                        {{>chip text="Java"}}
                        {{>chip text="Javascript"}}
                        {{>chip text="Dojo"}}
                        {{>chip text="Angular"}}
                        {{>chip text="Hibernate"}}
                        {{>chip text="Spring"}}
                        {{>chip text="JPA"}}
                        {{>chip text="Tomcat"}}
                        {{>chip text="Jetty"}}
                        {{>chip text="Apache"}}
                        {{>chip text="AWS"}}
                        {{>chip text="Subversion"}}
                        {{>chip text="Maven"}}
                        {{>chip text="Nexus"}}
                    </div>
                    <div class="clear"> </div>
                </div>
                
                <div class="item">
                    <h3><span class="company l">SynergizeIT</span>
                        <span class="date r">March 2011 &mdash; October 2013</span>
                    </h3>
                    <div class="clear"> </div>
                    <span class="job_title">Director of Research and Development</span>
                    <div class="info">
                        Provided technical consultancy to the company<br />
                        Mentored engineers, both for development and system administration<br />
                        Developed event driven low latency gateways for messaging solutions<br />
                        Developed and maintained web internal applications to monitor infrastructure and provided statistics<br />
                        Developed Java applications for managing SMS distribution lists<br />
                        Designed and developed web portals for Telco operators<br />
                        Provided sales support
                    </div>
                    <div class="technologies">
                        {{>chip text="PHP"}}
                        {{>chip text="Java"}}
                        {{>chip text="GSM"}}
                        {{>chip text="Linux"}}
                    </div>
                    <div class="clear"> </div>
                </div>
                
                <div class="item">
                    <h3><span class="company l">Staellium UK Limited</span>
                        <span class="date r">December 2007 &mdash; March 2008</span>
                    </h3>
                    <div class="clear"> </div>
                    <span class="job_title">Software Architect</span><div class="clear"> </div>
                    <div class="info">
                        Developed IP based messaging solution<br />
                        Provided pre-sales support
                    </div>
                    <div class="technologies">
                        {{>chip text="Java"}}
                        {{>chip text="Spring"}}
                        {{>chip text="Hibernate"}}
                        {{>chip text="Javascript"}}
                        {{>chip text="YUI"}}
                    </div>
                </div>
                
                <div class="item">
                    <h3><span class="company l">Airwide</span>
                        <span class="date r">October 2006 &mdash; March 2007</span>
                    </h3>
                    <div class="clear"> </div>
                    <span class="job_title">Technical consultant</span><div class="clear"> </div>
                    <div class="info">
                        <span>Created automation tools for installing GSM telecoms systems, Used RedHat kickstart, bash and python</span>
                        <span>Provided senior support for system installation across EMEA</span>
                    </div>
                    <div class="technologies">
                        {{>chip text="Linux"}}
                        {{>chip text="GSM"}}
                        {{>chip text="bash"}}
                        {{>chip text="RedHat"}}
                        {{>chip text="kickstart"}}
                    </div>
                </div>
                
                <div class="item">
                    <h3><span class="company l">Vodafone</span>
                        <span class="date r">April 2006 &mdash; October 2006</span>
                    </h3>
                    <div class="clear"> </div>
                    <span class="job_title">Network specialist</span>
                    <div class="info">
                        Played active roles in the migration of HLR and EIR from Legacy to Linux architectures<br />
                        Planning and implementation for the migration from SS7 to Sigtran of core network nodes (HLR, SCCP Relay)<br />
                        Design and development of analysis and reporting web-based (apache/tomcat) tools to extract key data from the IN core network for other departments (Marketing, Customer Care, Corporate Customers support) on Linux nodes.<br />
                        Writing automation scripts for O&amp;M in various languages (ksh, perl)<br />
                        Support to high availability IN production nodes<br />
                        Coordination of suppliers
                    </div>
                    <div class="technologies">
                        {{>chip text="OpenVMS"}}
                        {{>chip text="HP-UX"}}
                        {{>chip text="GSM"}}
                        {{>chip text="bash"}}
                        {{>chip text="DCL"}}
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="item">
                    <h3><span class="company l">Tektronix</span>
                        <span class="date r">September 2004 &mdash; April 2006</span>
                    </h3>
                    <div class="clear"> </div>
                    <span class="job_title">Technical Consultant/Project Manager</span>
                    <div class="info">
                        <div><span><span>Stakeholder management at senior level for major telecommunications companies throughout Europe.</span></span></div>
                        <div><span><span>Project management and technical consultancy for major deployment which received an award from the GSM congress (see achievements) </span></span></div>
                        <div><span><span>Coordinating project resources and contractors for major project deployments</span></span></div>
                        <div><span><span>Support to sales and program management for deployment/sale of new solution/architectures</span></span></div>
                        <div><span><span>Consultancy to network monitoring teams in major telcos</span></span></div>
                        <div><span><span>Support of network diagnostic solutions and reporting applications for major telecoms operators</span></span></div>
                        <div><span><span>Delivery and integration of GPRS/UMTS network and service assurance architectures based on Solaris Servers and Linux probes</span></span></div>
                        <div><span><span>Second line troubleshooting, and code investigation for Tektronix products on Solaris and Linux</span></span></div>
                    </div>
                    <div class="technologies">
                        {{>chip text="GSM"}}
                        {{>chip text="ISUP"}}
                        {{>chip text="Linux"}}
                        {{>chip text="Solaris"}}
                        {{>chip text="bash"}}
                        {{>chip text="python"}}
                        {{>chip text="Oracle"}}
                        {{>chip text="Cognito"}}
                    </div>
                    <div class="clear"> </div>
                </div>

                <div class="item">
                    <h3><span class="company l">Schlumberger</span> <span class="date r">July 2001 &mdash; September 2004</span></h3>
                    <div class="clear"> </div>
                    <span class="job_title">Messaging Competence Center Manager</span>
                    <div class="info">
                        <div><span><span>Startup of the Budapest Competence Centre for messaging products</span></span></div>
                        <div><span><span>Sales support. Identifying the latest technologies to integrate our products within the customer environment</span></span></div>
                        <div><span><span>Project management for deployment of messaging systems and integration within GSM networks</span></span></div>
                        <div><span><span>Line management for the support and deliveries team, locally and from the UK</span></span></div>
                        <div><span><span>Coordinate customer support for major European GSM operators for high availability systems</span></span></div>
                        <div><span><span>Provide consultancy for GSM operators, identifying the business requirements and providing appropriate solutions</span></span></div>
                        <div><span><span>Development of diagnostic tools for messaging platform</span></span></div>
                        <div><span><span>Integration with network monitoring and management solutions</span></span></div>
                    </div>
                    <div class="clear"> </div>
                    <div class="technologies">
                        {{>chip text="GSM"}}
                        {{>chip text="Linux"}}
                        {{>chip text="OpenVMS"}}
                    </div>
                </div>

                <div class="item">
                    <h3><span class="company l">Sema group</span> <span class="date r">April 1999 &mdash; July 2001</span></h3>
                    <div class="clear"> </div>
                    <span class="job_title">Software analyst and developer</span>
                    <div class="info">
                        Designed and developed applications for Telco operators<br />
                        Designed and developed SNMP subagents
                    </div>
                    <div class="technologies">
                        {{>chip text="C++"}}
                        {{>chip text="SNMP"}}
                        {{>chip text="Solaris"}}
                    </div>
                </div>

                <div class="item">
                    <h3><span class="company l">Telecomunicazioni e informatica</span> <span class="date r">July 1997 &mdash; April 1999</span></h3>
                    <div class="clear"> </div>
                    <span class="job_title">Software developer</span>
                    <div class="info">
                        Developed software application for Ericsson's TMOS platform<br />
                        Developed applications for operation support in telco operators<br />
                    </div>
                    <div class="technologies">
                        {{>chip text="C++"}}
                        {{>chip text="Solaris"}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cv_experience -->
</template>
