<template name="cv_experience">
    <!-- cv_experience -->
    <div class="cv_experience">
        <div class="section section-work">
            <h2 class="title">Work experience</h2>
            <div class="set">
                {{#each item in items}}
                <div class="item">
                    <h3><span class="company l">{{item.company}}</span>
                        <span class="date r">{{{item.period}}}</span>
                    </h3>
                    <div class="clear"> </div>
                    <span class="job_title">{{item.job_title}}</span>
                    <div class="info">
                        {{{renderDescription item.description}}}
                    </div>
                    <div class="technologies">
                        {{#each tag in item.tags}}
                        {{>chip text=tag}}
                        {{/each}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <!-- cv_experience -->
</template>
