<template name="cv_header">
    <!-- cv_header -->
    <div class="cv_header">
        <div id="photo">
            <div id="photo">
                <img src="photo.jpg" alt="Photo" />
            </div>
        </div>
        <div class="header photo">
            <h1 class="title">{{name}}</h1>
            <div class="basic-info section">
                {{#each item in basic_info.items}}
                {{>cv_basic_info_item item}}
                {{/each}}
                <div class="clear"> </div>
            </div><!-- basic-info //-->

        </div><div class="clear"> </div>

    </div>
    <!-- cv_header -->
</template>
