.cv_header {
    /* ___ photo ___ */
    #photo {
        width: 160px;
        height: 200px;
        overflow: hidden;
        float: left;
        margin-top: 12px;
        border-radius: 4px;
    }
    #photo img {
        width: 100%;
        height: auto;
    }

    .cv_basic_info_item {
        display: block;
        width: 50%;
        float: left;
        &.full {
            width: 100%;
        }
    }


    .header.photo {
        margin-left: 190px;
    }
    .header.photo #title {
        text-align: left;
    }
    .header.photo .basic-info {
        float: none;
        padding: 0;
    }

    @media print {
        #photo {
            width: 80px;
            height: auto;
        }
    }
}
