<template name="cv_skills">
    <!-- cv_skills -->
    <div class="cv_skills">
        <div class="section section-technologies">
            <h2 class="title">Technologies</h2>
            <div class="set">
                <div class="item">
                    <h3>Languages</h3>
                    <ul>
                        <li>Java</li>
                        <li>Javascript (ES5 ES6)</li>
                        <li>CSS (SASS)</li>
                        <li>C++</li>
                        <li>PHP</li>
                        <li>Shell scripting (bash)</li>
                        <li>Python</li>
                        <li>PERL</li>
                    </ul>
                </div>
                <div class="item">
                    <h3>Databases</h3>
                    <ul>
                        <li>MySQL</li>
                        <li>Oracle</li>
                        <li>MongoDB</li>
                        <li>Postgres</li>
                        <li>Neo4J</li>
                        <li>Elasticsearch</li>
                        <li>Cassandra</li>
                    </ul>
                </div>
                <div class="item">
                    <h3>Frameworks and libraries</h3>
                    <ul>
                        <li>Spring</li>
                        <li>Meteor</li>
                        <li>React</li>
                        <li>Handlebars/Spacebars</li>
                        <li>Hibernate</li>
                        <li>Symphony</li>
                    </ul>
                </div>
                <div class="item">
                    <h3>Servers</h3>
                    <ul>
                        <li>Apache HTTPD</li>
                        <li>Node.js</li>
                        <li>Express</li>
                        <li>NginX</li>
                        <li>Tomcat</li>
                        <li>Jetty</li>
                        <li>ELK Stack</li>
                        <li>Apache Kafka</li>
                    </ul>
                </div>
                <div class="item">
                    <h3>Tools</h3>
                    <ul>
                        <li>Jenkins</li>
                        <li>GIT</li>
                        <li>Subversion</li>
                        <li>maven</li>
                        <li>Nomad</li>
                        <li>webpack</li>
                        <li>gulp</li>
                    </ul>
                </div>
                <div class="item">
                    <h3>OSs and runtimes</h3>
                    <ul>
                        <li>Linux</li>
                        <li>Solaris</li>
                        <li>AWS</li>
                        <li>Docker</li>
                    </ul>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
    </div>
    <!-- cv_skills -->
</template>
