<template name="cv_skills">
    <!-- cv_skills -->
    <div class="cv_skills">
        <div class="section section-technologies">
            <h2 class="title">{{label}}</h2>
            <div class="set">
                {{#each section in sections}}
                <div class="item">
                    <h3>{{section.name}}</h3>
                    <ul>
                        {{#each item in section.items}}
                        <li>{{item}}</li>
                        {{/each}}
                    </ul>
                </div>
                {{/each}}
                <div class="clear"> </div>
            </div>
        </div>
    </div>
    <!-- cv_skills -->
</template>
