<template name="cv_education">
    <!-- cv_education -->
    <div class="cv_education">
        <div class="section section-education">
            <h2 class="title">{{label}}</h2>
            <div class="set">
                {{#each item in items}}
                <div class="item">
                    <h3><span class="course l">{{item.course}}</span>
                        <span class="date r">{{item.period}}</span>
                    </h3>
                    <div class="clear"> </div>
                    <span class="school">{{item.institution}}</span><div class="info">{{item.description}}</div><span class="clear"> </span>
                </div>
                {{/each}}
                <div class="item">
                    <h3><span class="course l">{{course}}</span>
                        <span class="date r"></span>
                    </h3>
                    <div class="clear"> </div>
                    <span class="school"></span><div class="info"></div><span class="clear"> </span>
                </div>
            </div>
        </div>
    </div>
    <!-- cv_education -->
</template>
