<template name="cv_interests">
    <!-- cv_interests -->
    <div class="cv_interests">
        <div class="section section-interests">
            <h2 class="title">Interests</h2>
            <div class="set">
                <div class="item">
                    <span class="info">Robotics and embedded software</span><br/>
                    <span class="info">Keen sailor and scuba diver</span>
                </div>
            </div>
        </div>
    </div>
    <!-- cv_interests -->
</template>
