.main_page {
    background: #fff;
    width: 100%;
    padding: 35px;
    margin: 0 auto 15px auto;
    overflow: hidden;
    box-shadow: 0 0 6px #ccc;
    box-sizing: border-box;

    .title {
        margin: 0px 0 30px 0;
        line-height: 70px;
        text-align: center;
        color: #111;
    }

    .item {
        margin: 0 0 20px 0;
    }

    .basic-info {
        padding: 0px 4px 0px 144px;
        p {
        }

    }
    .basic-info .r {
        float: right;
    }

    .section .title {
        border-bottom: 1px solid #ddd;
        padding-bottom: 5px;
    }
    .section h3 span.l, .section span.r {
        width: 49%;
        float: left;
    }
    .section span.r {
        float: right;
        text-align: right;
    }

    @media screen and (min-width: 900px) {
        width: 900px;
    }

    @media screen and (min-width: 1210px) {
        width: 1210px;
    }

    @media screen and (min-width: 1520px) {
        width: 1520px;
    }


}

