<template name="cv_profile">
    <!-- cv_profile -->
    <div class="cv_profile">
        <div class="section section-profile">
            <h2 class="title">Profile</h2>
            <p>I have more than 20 years experience in software design and development. My experience ranges from C++ development and embedded systems, to modern web technologies. This allows me to have a deep understanding of complex systems, and to have the relevant knowledge when selecting a technology to use</p>
        </div>
    </div>
    <!-- cv_profile -->
</template>
